/*----------------------------------------- 
web_parts_001
------------------------------------------*/
.web_parts_001 {
  padding: 100px 80px;
}

@media (max-width: 700px) {
  .web_parts_001 {
    padding: 50px 40px;
  }
}

@media (max-width: 500px) {
  .web_parts_001 {
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .web_parts_001 {
    padding: 20px 10px;
  }
}

.web_parts_001 .conts {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

@media (max-width: 850px) {
  .web_parts_001 .conts {
    grid-template-columns: repeat(2, 1fr);
  }
}

.web_parts_001 .conts .cont {
  background: #aaa;
  color: #000;
}

.web_parts_001 .conts .cont:hover {
  color: #df5c5c;
  transition: .5s;
}

.web_parts_001 .conts .cont:hover img {
  transform: scale(1.2);
}

.web_parts_001 .conts .cont .image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.web_parts_001 .conts .cont .image::before {
  padding-top: 100%;
  content: "";
  display: block;
}

.web_parts_001 .conts .cont .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .9s;
}

.web_parts_001 .conts .cont .image .category {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 13px 30px;
  background: #1285b2;
  color: #fff;
  line-height: 1.5em;
  font-size: 14px;
}

@media (max-width: 1025px) {
  .web_parts_001 .conts .cont .image .category {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .web_parts_001 .conts .cont .image .category {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .web_parts_001 .conts .cont .image .category {
    padding: 9px 20px;
  }
}

@media (max-width: 374px) {
  .web_parts_001 .conts .cont .image .category {
    padding: 9px 10px;
  }
}

.web_parts_001 .conts .cont .in {
  padding: 25px 30px;
  min-height: 156px;
  background: #f2f2f2;
}

@media (max-width: 600px) {
  .web_parts_001 .conts .cont .in {
    min-height: 120px;
  }
}

@media (max-width: 500px) {
  .web_parts_001 .conts .cont .in {
    padding: 20px;
  }
}

@media (max-width: 374px) {
  .web_parts_001 .conts .cont .in {
    padding: 10px;
    min-height: 0;
  }
}

.web_parts_001 .conts .cont .in p {
  font-size: 18px;
  letter-spacing: 2.9px;
  line-height: 2em;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media (max-width: 600px) {
  .web_parts_001 .conts .cont .in p {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .web_parts_001 .conts .cont .in p {
    letter-spacing: 0;
  }
}

@media (max-width: 374px) {
  .web_parts_001 .conts .cont .in p {
    font-size: 12px;
  }
}
